<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Main menu</title>
  <header th:insert="blocks/header :: header"></header>
</head>
<body>
<div class="container px-4 py-5 " id="featured-3">
<!--  <h2 class="pb-2 border-bottom ">Columns with icons</h2>-->
  <div class="row g-5 py-3 row-cols-1 row-cols-lg-3 justify-content-center align-items-center">


    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#0d6efd" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
        </svg>

      </div>
      <h3 class="fs-2 text-body-emphasis">Продажи</h3>
      <p>Тут предоставляется доступ к информации, связанной с отслеживанием продаж. Вы сможете увидеть статистику продаж и эффективно их контролировать.</p>
      <a href="/sales" class="icon-link">
        Перейти
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>


    <div class="feature col">

      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#0d6efd" class="bi bi-building-fill-gear" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
          <path d="M11.886 9.46c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Управление предприятием</h3>
      <p>Управление персоналом, магазинами и складами в организации. Вы сможете координировать логистические операции.</p>
      <a href="/UpravleniePredpriyatiem" class="icon-link">
          Перейти
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>



    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#0d6efd" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
          <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1z"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Анализ данных</h3>
      <p>Визуализация данных для анализа продаж. Здесь вы сможете получить информацию о ключевых показателях производительности</p>
      <a href="/Analitycs" class="icon-link">
          Перейти
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>

  </div>
</div>
</body>
<footer th:insert="blocks/footerRegular :: footer"></footer>
</html>